.card-container {
    height: calc(100vh - 155px);
    overflow: auto;
    flex-direction: row;
    align-items: flex-start!important;
}

.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}